.cover {
  max-width: 1184px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  margin-top: 0;
  margin: 0 48px 92px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .cover {
    max-width: calc(320px + (1184 - 320) * ((100vw - 320px) / (1184 - 320)));

    height: calc(200px + (740 - 200) * ((100vw - 320px) / (1184 - 320)));
  }
}
@media screen and (min-width: 320px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 88px;
  }
}
@media screen and (min-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 1280px) {
  .cover {
    margin-left: 48px;
    margin-right: 48px;
  }
}
.cover::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.cover:hover:before {
  background-color: rgba(0, 0, 0, 0.8);
}
