.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  max-width: 1184px;
  margin: 0 48px 0;
  padding-bottom: 24px;
}
@media screen and (max-width: 1023px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 680px) {
  .footer {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
    margin-right: auto;
    margin-left: 16px;
  }
}
